@model User
@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}
<div class="profile-container">
    <div class="profile-display">
        <img src="~/img/avartar2.png" alt="Profile Avatar">
        <div class="field">
            <span class="label">Name:</span> <span class="value">@Model.UserName</span>
        </div>
        <div class="field">
            <span class="label">Age:</span> <span class="value">@Model.Age</span>
        </div>
        <div class="field">
            <span class="label">Email:</span> <span class="value">@Model.Email</span>
        </div>
        <div class="field">
            <span class="label">Description:</span> <span class="value">@Model.Description</span>
        </div>
        @* <div class="field">
            <span class="label">Password:</span> <span class="value">********</span>
        </div> *@
        <div class="buttonzone">
            <a asp-controller="Profile" asp-action="EditProfile" class="button">Edit</a>
        </div>
    </div>
</div>