@{
    ViewData["Title"] = "ApprovePost";
}
@section Styles {
    <link rel="stylesheet" href="~/css/card-Approve.css" />
}

<div class="content">
    
  <div class="card">
    <img src="https://via.placeholder.com/150" alt="User Avatar">
    <h3>Username</h3>
    <p>Text : อะไรซักอย่าง</p>
    <p>Text : อะไรซักอย่าง</p>
    <p>Text : อะไรซักอย่าง</p>
    <button class="approve-btn">approve</button>
    <button class="deny-btn">deny</button>
  </div>

  <div class="card">
    <img src="https://via.placeholder.com/150" alt="User Avatar">
    <h3>Username</h3>
    <p>Text : อะไรซักอย่าง</p>
    <p>Text : อะไรซักอย่าง</p>
    <p>Text : อะไรซักอย่าง</p>
    <button class="approve-btn">approve</button>
    <button class="deny-btn">deny</button>
  </div>
  
</div>