.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 70px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.2s ease;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    .card h2 {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .card button {
        background-color: black;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

.card button:hover {
    background-color: #333;
}

.createpos {
    display: flex;
    justify-content: flex-end; /* จัดให้อยู่ทางขวา */
    margin: 20px; /* เพิ่มระยะห่าง */
}

.button-createpost {
    background-color: #4CAF50; /* สีพื้นหลังของปุ่ม */
    color: white; /* สีข้อความ */
    padding: 10px 20px; /* เพิ่มขนาดของปุ่ม */
    text-decoration: none; /* ลบขีดเส้นใต้ */
    border-radius: 5px; /* ขอบโค้งมน */
    font-size: 16px;
}

.button-createpost:hover {
    background-color: #45a049; /* เปลี่ยนสีเมื่อ hover */
}

@media (max-width: 1050px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 425px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}